### ***Pandas***

* ***Pandas are used to set the data in a tabular format***
* ***Pandas can create data in two ways***
    * ***Series***
    * ***Data frame***
* ***We can access the large volume of files using pandas***
* ***Pandas are used to analyse and to clean the data***

In [2]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
a = pd.Series([1,2,3,4],index = ["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
a = pd.Series([1,2,3,4],index = ["anu","mona","3g","4g"])
a

anu     1
mona    2
3g      3
4g      4
dtype: int64

In [7]:
a["a"]=0
a

a    0
b    2
c    3
d    4
dtype: int64

In [8]:
a["e"]=5
a

a    0
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
a = {"Name":["anu","mona","teju3g","teju4g"],
     "age":["20","19","19","19"],
     "bloodgroup":["b+","o+","b+","a+"]} 
pd.DataFrame(a)

     name age bloodgroup
0     anu  20         b+
1    mona  19         o+
2  teju3g  19         b+
3  teju4g  19         a+

In [23]:
a = {"Name":["anu","mona","teju3g","teju4g"],
     "age":["20","19","19","19"],
     "bloodgroup":["b+","o+","b+","a+"]} 
b = pd.DataFrame(a)
b = b.set_index("Name")

In [24]:
b.values

array([['20', 'b+'],
       ['19', 'o+'],
       ['19', 'b+'],
       ['19', 'a+']], dtype=object)

In [25]:
b.index

Index(['anu', 'mona', 'teju3g', 'teju4g'], dtype='object', name='Name')

In [26]:
type(b)

pandas.core.frame.DataFrame